@{
    ViewBag.Title = "SAMPLE Email Link";
}

<h5>An email confirmation should have been sent, for DEMO purposes you can click this link to confirm the email: <a href="@ViewBag.Link">link</a></h5>
